@model IEnumerable<AuthTest.Models.ApplicationUsage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackedApplication.TrackedApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvocationTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackedApplication.TrackedApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvocationTime)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationUsageID })
        </td>
    </tr>
}

</table>
